
<html>
<head>
    <title>projekt</title>
</head>
<body>

<div>

	<h1><p> Vítám Vás na aplikaci pro zadávání nových projektů </p></h1>
	<br/>
	<p> <strong> Zkuste si vytvořit svůj první nový projekt! </p></strong>
    <br/>
	{control projectForm}

</div>

<style>
	html { font: normal 18px Georgia, "New York CE", utopia, serif}
	body { background: #cfc625; color: #333; margin: 2em auto; padding: 0 .5em; max-width: 600px; min-width: 320px; }
	h1 { font: inherit; color: white; font-size: 50px; line-height: 70px; text-shadow: 3px 1px #000000; }

</style>
</body>
</html>